@import 'tailwindcss';

@theme {
	--breakpoint-lg: 1024px;
	--breakpoint-md: 842px;
	--breakpoint-xs: 400px;
	--color-menu-link-hover: #6a7282;
}

.inter-font {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
* {
	font-family: 'Inter', sans-serif;
}

@keyframes slide-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
